<div class="container">
  <br>
  <h1>Rails Issue Tracker</h1>
  <p class="container"> Simpilified clone of a GitLab issue tracker implemented in Rails</p>

  <br>
  <br>
  <h2> Functionality </h2>

  <div class="container">
    <br>
    <h4> User accounts </h4>
    <li> Users can SIGN UP/LOGIN and EDIT/CANCEL their accounts. </li>
    <br>
    <h4> Issues </h4>
    <li> Users can CREATE/EDIT/DESTROY issues. </li>
    <li> Each issue tracks a history of changes </li>
    <li> Users can view an individual issues </li>
    <li> Users can view all of the issues in a list and filter/sort the results </li>
    <li> Users can assign an issue to a specific user. </li>
    <li> Users can leave a comment under each issue </li>
    <br>
  </div>
</div>
