<div class="container">
  <% if notice %>
    <br>
    <p class="alert alert-primary"><%= notice %></p>
  <% end %>

  <% if alert %>
    <br>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
